<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-toolbar>
                <div class="left">
                    <button
                        pButton
                        label="Yeni Bina"
                        icon="pi pi-plus"
                        class="p-button-success mr-2"
                        (click)="showAddRealEstateDialog()"
                    ></button>
                    <button
                        pButton
                        label="Sil"
                        icon="pi pi-trash"
                        class="p-button-danger"
                        (click)="deleteSelectedRealEstates()"
                        [disabled]="
                            !selectedRealEstates || !selectedRealEstates.length
                        "
                    ></button>
                </div>
            </p-toolbar>

            <p-table
                [value]="realEstates"
                [(selection)]="selectedRealEstates"
                responsiveLayout="scroll"
                [paginator]="true"
                [rows]="10"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                dataKey="id"
                selectionMode="multiple"
                currentPageReportTemplate="Toplam {totalRecords} emlaktan {first} ile {last} arası gösteriliyor"
                [(selection)]="selectedRealEstates"
                [rowHover]="true"
                [globalFilterFields]="['type', 'status', 'squareMeters']"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">Emlakları Yönet</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter($event)"
                                placeholder="Ara..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                        <th>Tür</th>
                        <th>Durum</th>
                        <th>Metre Kare</th>
                        <th>Adres</th>
                        <th>Şehir</th>
                        <th>İlçe</th>
                        <th *ngIf="transactionType === 'Satılık'">
                            Satın Alan Müşteri
                        </th>
                        <th *ngIf="transactionType === 'Satılık'">
                            Satan Müşteri
                        </th>
                        <th *ngIf="transactionType === 'Kiralık'">
                            Kiralayan Müşteri
                        </th>
                        <th *ngIf="transactionType === 'Kiralık'">
                            Kiracı Müşteri
                        </th>
                        <th>İşlemler</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-realEstate>
                    <tr>
                        <td>
                            <p-tableCheckbox
                                [value]="realEstate"
                            ></p-tableCheckbox>
                        </td>
                        <td>{{ realEstate.type.label }}</td>
                        <td>{{ realEstate.status.label }}</td>
                        <td>{{ realEstate.squareMeters }}</td>
                        <td>{{ realEstate.address }}</td>
                        <td>{{ realEstate.city }}</td>
                        <td>{{ realEstate.district }}</td>
                        <td *ngIf="realEstate.status === 'Satılık'">
                            {{ realEstate.buyerName }}
                        </td>
                        <td *ngIf="realEstate.status === 'Satılık'">
                            {{ realEstate.sellerName }}
                        </td>
                        <td *ngIf="realEstate.status === 'Kiralık'">
                            {{ realEstate.landlordName }}
                        </td>
                        <td *ngIf="realEstate.status === 'Kiralık'">
                            {{ realEstate.tenantName }}
                        </td>
                        <td></td>
                        <td>
                            <button
                                pButton
                                icon="pi pi-pencil"
                                class="p-button-rounded p-button-success mr-2"
                                (click)="showEditRealEstateDialog(realEstate)"
                            ></button>
                            <button
                                pButton
                                icon="pi pi-trash"
                                class="p-button-rounded p-button-warning"
                                (click)="confirmDeleteRealEstate(realEstate)"
                            ></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog
    [(visible)]="realEstateDialog"
    header="Gayrimenkul Detayları"
    [style]="{ width: '800px' }"
    [modal]="true"
    class="p-fluid"
>
    <div class="p-fluid">

        <div class="p-field">
            <label for="type">Tür</label>
            <p-dropdown
                id="type"
                [(ngModel)]="selectedRealEstate.type"
                [options]="realEstateTypes"
                optionLabel="label"
                placeholder="Tür Seçin"
                (onChange)="onTypeChange($event)"
            >
            </p-dropdown>
        </div>

        <!-- Durum -->
        <div class="p-field">
            <label for="status">Durum</label>
            <p-dropdown
                id="status"
                [(ngModel)]="selectedRealEstate.status"
                [options]="realEstateStatuses"
                optionLabel="label"
                placeholder="Durum Seçin"
                (onChange)="onStatusChange($event)"
            >
            </p-dropdown>
        </div>

        <!-- Metre Kare -->
        <div class="p-field">
            <label for="squareMeters">Metrekare</label>
            <input
                id="squareMeters"
                [(ngModel)]="selectedRealEstate.squareMeters"
                type="number"
                pInputText
            />
        </div>

        <!-- Adres -->
        <div class="p-field">

            <input
            placeholder="Adres"
                id="address"
                [(ngModel)]="selectedRealEstate.address"
                type="text"
                pInputText
            />
        </div>

        <!-- Şehir -->
        <div class="p-field">

            <input
            placeholder="Şehir"
                id="city"
                [(ngModel)]="selectedRealEstate.city"
                type="text"
                pInputText
            />
        </div>

        <!-- İlçe -->
        <div class="p-field">

            <input
            placeholder="İlçe"
                id="district"
                [(ngModel)]="selectedRealEstate.district"
                type="text"
                pInputText
            />
        </div>

        <!-- Satış ve Kiralama İçin Ek Alanlar -->

        <!-- Conditional Section for "Satılık" (For Sale) -->
        <div *ngIf="selectedRealEstate.status === 'Satılık'">
            <!-- Satış için satan müşteri seçimi -->
            <div class="p-field">
                <label for="sellerId">Satan Müşteri</label>
                <p-dropdown
                    id="sellerId"
                    [(ngModel)]="selectedRealEstate.sellerId"
                    [options]="customerOptions"
                    placeholder="Müşteri Seçin"
                    (onChange)="onSellerChange($event.value)"
                ></p-dropdown>
            </div>
        </div>

        <!-- Conditional Section for "Kiralık" (For Rent) -->
        <div *ngIf="selectedRealEstate.status === 'Kiralık'">
            <!-- Kiralama için kiralayan müşteri bilgisi -->
            <div class="p-field">
                <label for="landlordId">Kiralayan Müşteri</label>
                <p-dropdown
                    id="landlordId"
                    [(ngModel)]="selectedRealEstate.landlordId"
                    [options]="customerOptions"
                    placeholder="Müşteri Seçin"
                    (onChange)="onSellerChange($event.value)"
                ></p-dropdown>
            </div>
        </div>



    </div>
    <p-footer>
        <button
            pButton
            label="Kaydet"
            icon="pi pi-check"
            class="p-button-text"
            (click)="saveRealEstate()"
        ></button>
        <button
            pButton
            label="İptal"
            icon="pi pi-times"
            class="p-button-text"
            (click)="realEstateDialog = false"
        ></button>
    </p-footer>
</p-dialog>

